[submodule "frontend"]
	path = frontend
	url = https://github.com/So-Woo-Ju/frontend.git
[submodule "sowooju-api-server"]
	path = sowooju-api-server
	url = https://github.com/So-Woo-Ju/sowooju-api-server.git
